<div class="container mt-4">
  <div class="card shadow">
    <div class="card-body">

      <h4 class="card-title mb-3">Colonias</h4>

        <table class="table table-hover align-middle">
            <thead class="table-light">
            <tr>
                <th>Nombre</th>
                <th>Ciudad</th>
                <th>Acciones</th>
            </tr>
            </thead>
    
            <tbody>
            <tr *ngFor="let colonia of colonias">
                <td class="fw-semibold">{{ colonia.Nombre }}</td>
                <td>{{ colonia.CiudadNombre }}</td>
                <td>
                    <button class="btn btn-sm btn-outline-primary">
                        Editar
                    </button>
                    <button class="btn btn-sm btn-outline-danger" (click)="eliminar(colonia.Id)">
                        Eliminar
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>