<div class="container mt-4">
  <div class="card shadow">
    <div class="card-body">

      <h4 class="card-title mb-3">Colonias</h4>

        <table class="table table-hover align-middle">
            <thead class="table-light">
            <tr>
                <th>Nombre</th>
                <th>Ciudad Id</th>
            </tr>
            </thead>
    
            <tbody>
            <tr *ngFor="let colonia of colonias">
                <td class="fw-semibold">{{ colonia.Nombre }}</td>
                <td>{{ colonia.CiudadId }}</td>
            </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>