<div class="container mt-4">
  <div class="card shadow">
    <div class="card-body">

      <h4 class="card-title mb-3">Horarios</h4>

        <table class="table table-hover align-middle">
            <thead class="table-light">
            <tr>
                <th>Día de la semana</th>
                <th>Id de locación</th>
                <th>Hora</th>
                <th>Activo</th>
                <th>Notas</th>
                <th>Acciones</th>
            </tr>
            </thead>
    
            <tbody>
            <tr *ngFor="let horario of horarios">
                <td class="fw-semibold">{{ horario.DiaSemanaNombre }}</td>
                <td>{{ horario.LocacionId }}</td>
                <td>{{ horario.Hora }}</td>
                <td>{{ horario.Activo }}</td>
                <td>{{ horario.Notas }}</td>
                <td>
                    <button class="btn btn-sm btn-outline-primary me-2" (click)="editarHorario(horario)"><i class="bi bi-pencil"></i> Editar</button>
                    <button class="btn btn-sm btn-outline-danger" (click)="eliminar(horario.Id)"><i class="bi bi-trash"></i> Eliminar</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>